.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
    background: rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    border: 8px double #2CB1BF;
    padding: 0px 20px;
}

.header h1 {
    color: #8BDCE5;
    font-size: 50px;
    font-family: Orbitron;
    font-weight: 700;
    line-height: 2;
}