@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: Orbitron;
}

body {
  margin: 0;
  background-color: black;
  background-image: url("./assets/pluto.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

